.avatar{
    width:350px;
    height:auto;
  }

#details{
  margin: 20px;
  width: 100%;
}

#honeypot {
  display: none; /*makes the field not visible to humans*/
}

#thankyou_message{
  margin: 20px;
}